DATABASE_URL=postgres://postgres:postgres@localhost:5435/desafio_suflex
SECRET_KEY=''                                                                                                                                                                                                                                                                                                                                                                                                                                                           DATABASE_URL=postgres://postgres:postgres@localhost:5431/kenzie_pet
